@model IEnumerable<DAL.Entities.Group>

@{
    ViewBag.Title = "Role2";
}

<h2>Group</h2>

<table class="table">
    <thead>
    <tr>
        <th>A</th>
        <th>B</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A1</td>
        <td>B1</td>
    </tr>
    <tr>
        <td>A2</td>
        <td>B2</td>
    </tr>
    </tbody>
</table>